.row {
    margin: 30px;
}
.b1 {
    background: black;
    border-color: aqua;
    color: aqua;
    font-size: 12pt;
    margin: 5px;
};
.b1:hover {
    background: rgb(27, 27, 27);
    border-color: rgb(0, 255, 115);
    color: rgb(0, 255, 115);
    font-size: 12pt;
    margin: 5px;
};